bin/
obj/
.vs/
.vs/Railroad Station-2/v16/.suo
bin/Debug/net5.0/Railroad Station-2.pdb
obj/Debug/net5.0/Railroad Station-2.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Railroad Station-2.dll
obj/Debug/net5.0/Railroad Station-2.pdb
